<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haili.ins.mapper.FabricCaUserMapper">
  <resultMap id="BaseResultMap" type="com.haili.ins.model.FabricCaUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    
    <!-- 用户名 -->
    <result column="name" jdbcType="VARCHAR" property="name" />
    
    <!-- 权限 -->
    <result column="roles" jdbcType="VARCHAR" property="roles" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="affiliation" jdbcType="VARCHAR" property="affiliation" />
    
    <!-- 所属机构 -->
    <result column="organization" jdbcType="VARCHAR" property="organization" />
    <result column="enrollmentSecret" jdbcType="VARCHAR" property="enrollmentsecret" />
    <result column="msp_Id" jdbcType="VARCHAR" property="mspId" />
    <result column="exp_date" jdbcType="TIMESTAMP" property="expDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.haili.ins.model.FabricCaUser">
    
    <!-- 证书 -->
    <result column="enrollment" jdbcType="LONGVARCHAR" property="enrollment" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, roles, account, affiliation, organization, enrollmentSecret, msp_Id, exp_date, 
    create_by, create_date, update_by, update_date
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    enrollment
  </sql>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2018-12-21 13:30:27 ### -->



  <!-- Your codes goes here!!! -->
  
</mapper>